@model Finn.MVC.Models.servers

@{
    ViewBag.Title = "Подробная информация";
}

<h2>@Model.HostName.ToLower()</h2>

<div>
    <h4>Подробная информация</h4>
    <hr />
	<dl class="dl-horizontal">
        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.ServerGUID)
        </dt>

		<dd>
			@Html.DisplayFor(model => model.ServerGUID)
		</dd>

		<dt style="white-space:nowrap;">
			@Html.DisplayNameFor(model => model.ServerState)
		</dt>

		<dd style="@(Model.ServerState =="Не в сети" ? "color:red" : "")">
			@Html.DisplayFor(model => model.ServerState)
		</dd>

		<dt style="white-space:nowrap;">
			@Html.DisplayNameFor(model => model.AspNetUsers.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AspNetUsers.Email)
		</dd>
		
        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostName)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.OnlineTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlineTime)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.AgentVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentVersion)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.RAMTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAMTotal)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.RAMFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAMFree)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.CPULoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPULoad)
        </dd>

		<dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.MonitoredServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoredServices)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.TopRamProcesses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopRamProcesses)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.TopCpuProcesses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopCpuProcesses)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.HwMonTimeSpanHrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HwMonTimeSpanHrs)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.EvMonTimeSpanHrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvMonTimeSpanHrs)
        </dd>

        <dt style="white-space:nowrap;">
            @Html.DisplayNameFor(model => model.ServiceTimerMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTimerMin)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Настройка", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
