@model IEnumerable<Finn.MVC.Models.hardwarehistory>

@{
	ViewBag.Title = "Загрузка памяти и процессора";
	var host = ViewBag.HostName;
	var ramTotal = ViewBag.RamTotal;
}

<h2>Загрузка памяти и процессора</h2>
<h4>Статистика по @host</h4>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', { 'packages': ['line'] });
	google.charts.setOnLoadCallback(drawChart);

function drawChart()
{
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Время');
        data.addColumn('number', 'CPU (%)');
        data.addColumn('number', 'RAM (%)');
        data.addRows([

			@foreach (var item in Model)
			{
	<text>
		@{
			var ramUsedPercent = ((float)(ramTotal - item.RAMFree))*100/(float)ramTotal;
		}
		[new Date(@item.TimeStamp.Year,@item.TimeStamp.Month,@item.TimeStamp.Day,@item.TimeStamp.Hour,@item.TimeStamp.Minute,@item.TimeStamp.Second), @item.CPULoad, @((int)ramUsedPercent)],
	</text>
	        }
        ]);
        var options = {
                       'width':1200,
                       'height': 500,
                       hAxis: {
                       	format: 'dd/MM HH:mm'
                       }
        };
        var chart = new google.charts.Line(document.getElementById('hwUsage'));
        chart.draw(data, google.charts.Line.convertOptions(options));
      }
</script>
<div id="hwUsage"></div>
<p>
	@Html.ActionLink("Настройка", "Edit", new { id = ViewBag.ID }) |
	@Html.ActionLink("Назад", "Index")
</p>
