@model IEnumerable<Finn.MVC.Models.procmonitorcpu>

@{
	ViewBag.Title = "Процессы";
	var host = ViewBag.HostName;
}

<h2>Процессы</h2>
<h4>Наибольшая загрузка процессора на @host @Model.First().TimeStamp</h4>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ProcName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProcCPU)
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ProcName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProcCPU)
			</td>
		</tr>
	}
</table>
<h5>Данные в таблице получены с помощью счетчиков производительности Windows, поэтому загрузка процессора является приблизительной величиной.</h5>
<p>
	@Html.ActionLink("Настройка", "Edit", new { id = ViewBag.ID }) |
	@Html.ActionLink("Назад", "Index")
</p>
