@{
	ViewBag.Title = "Ошибки";
}

<h2>@ViewBag.Title</h2>
<h4>Статистика по @ViewBag.HostName за @ViewBag.EvMonTimeSpanHrs ч.</h4>


<div id="events"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script type="text/javascript">
	$.ajax({
				url: '@Url.Action("Events", "Servers")',
				contentType: 'application/html; charset=utf-8',
				type: 'GET',
				dataType: 'html',
				cache: false
			})
			.done(function(result) {
				$('#events').html(result);
				setInterval(function() {
					$("#events").load('@Url.Action("Events", "Servers")');
				}, 30000);
			});
</script>





<p>
	@Html.ActionLink("Настройка", "Edit", new { id = ViewBag.ID }) |
	@Html.ActionLink("Назад", "Index")
</p>

